@model Recycling.Domain.Models.User


@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true, "Login failed. Check your login details.")

        <div class="form-group">
            @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Log in" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <p>If you are redirected back to this page when you are logged in, it means you didn't have the permission to do previous action. Please log in with an administrator account.</p>
</div>

<div>
    @Html.ActionLink("Not a user? Register here", "Create") 
    <br />
    @Html.ActionLink("Reset Password", "ResetPassword", "User")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

