@model Recycling.Domain.Models.ProductDTO

@{
    ViewBag.Title = "Details";
}

<h2>Product Details</h2>

<div>
    <h4>Name: @Model.pHasCs.FirstOrDefault().Product.ProductName</h4>
    <h5>UPC: @Model.pHasCs.FirstOrDefault().Product.UPC</h5>
    <hr />
    <div class="content-wraper dl-horizontal ">
        <img class="col-md-6" src="~/@Model.product.ImagePath" alt="@Model.product.ProductName"/>
        <dl class="col-md-6">
            <dt>
                @Html.DisplayNameFor(model => model.product.ProductName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.product.ProductName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.product.CompanyName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.product.CompanyName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.product.ParentCompany)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.product.ParentCompany)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.product.Weight)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.product.Weight)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.product.TotalWeight)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.product.TotalWeight)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.product.Category.CategoryName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.product.Category.CategoryName)
            </dd>
        </dl>
    </div>
</div>
<div></div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.product.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
